* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  background: black;
  text-align: center;
  padding: 1rem 0;
}
.container .row {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  align-items: center;
}
.container .nav {
  padding-right: 5rem;
}
.container .nav .nav___list {
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: right;
  padding: 1 rem;
}
.container .nav .nav___list .nav__link {
  color: white;
  text-decoration: none;
  padding-right: 1rem;
  text-align: center;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}
.container .hamburguer__menu {
  display: none;
}
.container .hamburguer__menu #myLinks {
  display: none;
}
.container .hamburguer__menu .icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.container .hamburguer__menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.conteiner__home {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
  align-items: center;
}
.conteiner__home .imagen__puente {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 580px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -6px black;
}
.conteiner__home .intro__section {
  display: flex;
  max-width: 90%;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}
.conteiner__home .intro__section .info__section {
  width: 40%;
}
.conteiner__home .intro__section .info__section .boton__inspirate {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 3px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
}
.conteiner__home .intro__section .imagen__section {
  width: 50%;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -6px black;
}
.conteiner__home .intro__section.inspirarte {
  flex-direction: row-reverse;
}

footer {
  background: black;
  text-align: center;
  color: white;
  padding: 1rem 0;
  margin-top: 3rem;
  font-weight: lighter;
}
footer .footer__iconos {
  color: white;
}
footer .derechos__reservados .ig__Natalia {
  color: white;
  text-decoration: none;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.equipo__cards__container {
  margin-bottom: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
}
.equipo__cards__container .equipo__card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex: 0 0 auto;
  width: 25%;
}

@media screen and (max-width: 968px) {
  .conteiner__home .imagen__puente {
    height: auto;
  }
  .conteiner__home .intro__section {
    flex-direction: column-reverse;
  }
  .conteiner__home .intro__section .info__section {
    width: 100%;
  }
  .conteiner__home .intro__section .imagen__section {
    width: 100%;
  }
  .conteiner__home .intro__section.inspirarte {
    flex-direction: column-reverse;
  }
  .equipo__cards__container {
    padding: 0;
  }
  .equipo__cards__container .equipo__card {
    box-sizing: border-box;
    width: 100%;
  }
  .container {
    display: block;
  }
  .container .row {
    display: block;
  }
  .container .row .nav {
    display: none;
  }
  .container .row .hamburguer__menu {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
