.contacto__body {
  background-image: url(../imagenes/puente.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;

  .contacto__form {
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    backdrop-filter: blur(5px);

    .contacto__h2 {
      color: white;
      text-align: center;
      margin: 0;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .contacto__input {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
      border: none;
    }

    .contacto__textarea {
      min-height: 100px;
      max-height: 200px;
      max-width: 100%;
      width: 100%;
    }

    #boton {
      background-color: black;
      color: white;
      padding: 20px;
      margin-top: 1rem;
      width: 100%;
    }

    #boton:hover {
      cursor: pointer;
    }
  }
}
