.contacto__conteiner {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;

  .contacto__formulario {
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: block;

    .contacto__formulario__completar {
      margin-bottom: 0.5rem;
      display: inline-block;
      box-sizing: border-box;
      cursor: default;
    }
  }
}
