.conteiner__home {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
  align-items: center;

  .imagen__puente {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 580px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -6px black;
  }
  .intro__section {
    display: flex;
    max-width: 90%;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
    .info__section {
      width: 40%;

      .boton__inspirate {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px 3px;
        cursor: pointer;
        background-color: black;
        border-radius: 5px;
      }
    }

    .imagen__section {
      width: 50%;
      margin-bottom: 2rem;
      border-radius: 5px;
      box-shadow: 0px 10px 10px -6px black;
    }
  }

  .intro__section.inspirarte {
    flex-direction: row-reverse;
  }
}
