@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
}

@mixin flexDirection($direction) {
  display: flex;
  flex-direction: $direction;
}
