@import "reset";
@import "variables";
@import "mixins";
@import "navbar";
@import "homeindex";
@import "footers";
@import "body";
@import "equipo";
@import "inspiracion";
@import "contacto";
@import "servicios";
@import "mq_768";
